<mat-toolbar class="mat-elevation-z6" color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Drag Example by Pitillos</h1>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/drag">Drag</button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon>eco</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
